.paymentWrp {
    box-shadow: 1px 1px 6px 1px #00000073;
    border-radius: 10px;
}

.heading {
    text-align: center;
    padding: 10px 0px;
}

.para {
    text-align: center;
    padding-bottom: 10px;
}

.paydivwrp {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.idiv {
    box-shadow: 1px 1px 6px 1px #5b5b5b73;
    margin: auto;
    height: 100px;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.iconsImg {
    width: 80%;
    display: grid;
    margin: auto;
    height: 70%;
    margin-top: 15px;



}

@media (max-width:990px) {
    .paymentWrp {
        margin-top: -10px;
    }

    .paydivwrp {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}

@media (max-width:768px) {
    .idiv {
        width: 60%;
    }

    .paymentWrp {
        margin-top: 0px;
    }
}